<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editar Integrante</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <style>
        body {
            font-family: 'Open Sans', sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .contenido {
            width: 100%;
            border-radius: 5px;
        }
        .contenido header {
            background: #333;
            padding: 20px 0 20px 0;
            display: flex;
            align-items: center;
            color: white;
            margin-bottom: 20px;
        }
        .contenido header h1 {
            margin: 10px;
            display: flex;
            align-items: center;
            flex: 1;
        }
        .contenido header h1 i {
            margin-right: 15px;
            cursor: pointer;
            font-size: 0.8em;
            color: white;
        }
        form {
            display: flex;
            flex-direction: column;
        }
        input, button, select {
            margin-bottom: 15px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }
        button {
            background-color: #333;
            color: white;
            cursor: pointer;
        }
        input:disabled {
            background-color: #ddd;
            color: #666;
            cursor: not-allowed;
        }
    </style>
</head>
<body>
<div class="contenido">
    <header>
        <h1><i class="fas fa-arrow-circle-left" onclick="window.location.href='/admin/integrantes/listar'"></i>Editar Integrante {{integrante.matricula}}</h1>
    </header>
    <div style="width: 50%; margin: 0 auto; background-color: white; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); padding: 20px">
        <form action="/admin/integrantes/update/{{integrante.matricula}}" method="post">
            <label for="matricula">Matrícula</label>
            <input type="text" id="matricula" name="matricula" value="{{integrante.matricula}}" disabled>

            <label for="orden">Orden</label>
            <input type="text" id="orden" name="orden" value="{{integrante.orden}}" disabled>

            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" name="nombre" value="{{integrante.nombre}}">

            <label for="apellido">Apellido</label>
            <input type="text" id="apellido" name="apellido" value="{{integrante.apellido}}">

            <div style="flex-wrap: nowrap">
                <label for="activo">Activo</label>
                <input type="radio" id="activo" name="activo" value="1" {{#if (eq integrante.activo 1)}}checked{{/if}} disabled>

                <label for="inactivo">Inactivo</label>
                <input type="radio" id="inactivo" name="activo" value="0" {{#if (eq integrante.activo 0)}}checked{{/if}} disabled>
            </div>

            <div style="display: flex; justify-content: space-between">
                <button type="button" onclick="window.location.href='/admin/integrantes/listar'" style="background-color: red; color: white; width: 50%">Cancelar</button>
                <button type="submit" style="width: 50%">Editar</button>
            </div>
        </form>
    </div>
</div>
<script>
    window.onload = function() {
        const urlParams = new URLSearchParams(window.location.search);
        const error = urlParams.get('error');

        if (error) {
            const errores = decodeURIComponent(error).split(';');
            errores.forEach((error) => {
                toastr.error(error);
            });
        }
    };
</script>
</body>
</html>
