<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Listado de Media</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        body {
            font-family: 'Open Sans', sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .contenido {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .contenido header {
            background-color: #333;
            color: white;
            display: flex;
            align-items: center;
            width: 100%;
            padding: 20px 0 20px 0;
        }

        .contenido header h1 {
            margin: 10px;
            display: flex;
            align-items: center;
            flex: 1;
        }

        .contenido header h1 i {
            margin-right: 15px;
            cursor: pointer;
            font-size: 0.8em;
            color: white;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        table, th, td {
            border: 2px solid #ddd;
        }

        th, td {
            padding: 10px;
            text-align: left;
        }

        th {
            background-color: #333;
            padding: 10px;
            text-align: center;
            color: white;
        }

        button {
            background-color: #333;
            color: white;
            cursor: pointer;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 3px;
            width: 200px;
            height: 40px;
            font-size: 16px;
        }

        .button i {
            margin-right: 10px;
        }

        .toast-success {
            background-color: #28a745 !important; /* Código de color verde de Bootstrap */
        }

        .toast-error {
            background-color: #F50202 !important;
        }
    </style>
</head>
<body>
    <div class="contenido">
        <header>
            <h1><i class="fas fa-arrow-circle-left" onclick="window.location.href='/admin'"></i>Entidad 3 - Media</h1>
        </header>
        <div style="width: 80% !important;" class="mt-3 mb-3">
            <h3 class="">Filtros de búsqueda</h3>
            <section>
                <form action="/admin/media/listar" method="get">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="tipoMedia">Tipo Media</label>
                                <select class="form-control" id="tipoMedia" name="s[tipoMedia]">
                                    <option></option>
                                    {{#each tipoMedia}}
                                        <option value="{{id}}" {{#if (eq id ../tipoMediaSeleccionado)}}selected{{/if}}>{{nombre}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="integrante">Integrante</label>
                                <select class="form-control" id="integrante" name="s[integrante]">
                                    <option></option>
                                    {{#each integrantes}}
                                        <option value="{{matricula}}" {{#if (eq matricula ../integranteSeleccionado)}}selected{{/if}}>{{nombre}} {{apellido}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="titulo">Título</label>
                                <input type="text" class="form-control" id="titulo" name="s[titulo]">
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-dark">Filtrar</button>
                            <button type="button" class="btn btn-secondary" onclick="limpiar()">Limpiar</button>
                        </div>
                    </div>
                </form>
            </section>
        </div>
        <div style="width: 80% !important;">
            {{#unless media.length}}
                    <div class="p-5 mb-4 bg-light rounded-3">
                        <h1 class="display-5 text-danger">¡Sin registros!</h1>
                        <p class="lead">No se encontraron medias.</p>
                        <button type="button" class="button" onclick="window.location.href='/admin/media/crear'"><i class="fas fa-plus"></i>Crear</button>
                    </div>
            {{else}}
                <h2>Listado</h2>
                <button type="button" class="button" onclick="window.location.href='/admin/media/crear'"><i class="fas fa-plus"></i>Crear</button>
                <table class="table table-striped">
                    <thead>
                    <tr class="table-dark">
                        <th>Orden</th>
                        <th>Tipo Media</th>
                        <th>Url</th>
                        <th>Src</th>
                        <th>Título</th>
                        <th>Integrante</th>
                        <th>Activo</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each media}}
                        <tr>
                            <td style="text-align: center">{{orden}}</td>
                            <td style="text-align: center">{{tipoMediaNombre}}</td>
                            <td>
                                {{#if url}}
                                    <a href="{{url}}" target="_blank">{{url}}</a>
                                {{else}}
                                    <div style="text-align: center">
                                        <i class="fas fa-minus" style="color: gray"></i>
                                    </div>
                                {{/if}}
                            </td>
                            <td style="text-align: center">
                                {{#if src}}
                                    <a href="{{src}}" target="_blank">
                                        <img src="{{src}}" alt="{{alt}}" title="{{titulo}}" height=60px width="80px">
                                    </a>
                                {{else}}
                                    <div style="text-align: center">
                                        <i class="fas fa-minus" style="color: gray"></i>
                                    </div>
                                {{/if}}
                            </td>
                            <td>{{titulo}}</td>
                            <td>{{integranteNombre}} {{integranteApellido}}</td>
                            <td style="text-align: center">
                                {{#if activo}}
                                    Activo
                                {{else}}
                                    Inactivo
                                {{/if}}
                            </td>
                            <td style="text-align: center">
                                <div style="display: flex; align-items: center; justify-content: space-evenly">
                                    <form id="deleteForm{{id}}" action="/admin/media/delete/{{id}}" method="post">
                                        <button type="button" onclick="confirmDelete('{{id}}')" style="background: white !important; width: auto; height: auto; border: none; padding: 0" title="Borrar"><i class="fas fa-trash" style="color: red"></i></button>
                                    </form>
                                    <a href="/admin/media/edit/{{id}}" style="background: white !important; width: auto; height: auto; border: none; padding: 0" title="Editar"><i class="fas fa-edit" style="color: blue"></i></a>
                                </div>
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            {{/unless}}
        </div>
    </div>
    <div style="margin: 10px 0 10px 0; width: 80%">
        {{#if media.length}}
            <span><strong>Total de media:</strong> {{media.length}}</span>
        {{/if}}
    </div>
    <script>
        window.onload = function() {
            const urlParams = new URLSearchParams(window.location.search);
            const success = urlParams.get('success');
            const error = urlParams.get('error');

            if (success) {
                toastr.success(success);
            }

            if (error) {
                toastr.error(error);
            }
        };

        function confirmDelete(id) {
            if (confirm('¿Estás seguro de que deseas eliminar esta media?')) {
                document.getElementById(`deleteForm${id}`).submit();
            }
        }

        function limpiar() {
            document.getElementById('integrante').value = '';
            document.getElementById('tipoMedia').value = '';
            document.getElementById('titulo').value = '';
            document.querySelector('form').submit();
        }
    </script>
</body>
</html>
