<footer>
    <p>Grupo FSOCIETY - Todos los derechos reservados &copy; 2024</p>
    <p>Desarrollado por: {{nombre}} - {{matricula}}</p>
    <p>Repositorio: <a href="{{repositorio}}" target="_blank" style="color: white">Link del Repositorio</a></p>
</footer>
