<nav class="navbar">
    <ul>
        <li><a href="/">Inicio</a></li>
        {{#each integrantes}}
            <li><a href="/{{matricula}}/">{{nombre}}</a></li>
        {{/each}}
        <li><a href="/word_cloud/">Word Cloud</a></li>
        <li><a href="/curso/">Curso</a></li>
        {{#if isAuthenticated}}
            <li><a href="/admin">Admin</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        {{else}}
            <li><a href="/auth/login">Login</a></li>
        {{/if}}
    </ul>
</nav>
