<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{home.nombre}}</title>
    <link rel="stylesheet" href="/assets/css/index_inicio.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <style>
        .toast-success {
            background-color: #28a745 !important;
        }

        .toast-error {
            background-color: #F50202 !important;
        }
    </style>
</head>
<body>
    <header>
        <h1>{{home.titulo}} {{home.nombre}}</h1>
    </header>
    {{> nav}}
    <div>
        <img src="{{home.src}}" alt="{{home.alt}}" class="logo">
    </div>
    {{> footer}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script>
        window.onload = function() {
            const urlParams = new URLSearchParams(window.location.search);
            const success = urlParams.get('success');

            if (success) {
                toastr.success(success);
            }
        };
    </script>
</body>
</html>
