<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        .toast-success {
            background-color: #28a745 !important;
        }

        .toast-error {
            background-color: #F50202 !important;
        }
    </style>
</head>
<body>
    <section class="vh-100">
        <form class="container py-5 h-100" action="/auth/login" method="post">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card text-white" style="border-radius: 1rem; background-color: #333;">
                        <div class="card-body p-5 text-center">
                            <h2 style="text-align: start !important; cursor: pointer"><i class="fas fa-arrow-circle-left" onclick="window.location.href='/'"></i></h2>
                            <div class="mb-md-5 mt-md-4 pb-5">
                                <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                                <div data-mdb-input-init class="form-outline form-white mb-4">
                                    <input type="email" id="email" name="email" class="form-control form-control-lg" placeholder="Email"/>
                                </div>
                                <div data-mdb-input-init class="form-outline form-white mb-4">
                                    <input type="password" id="contrasenha" name="contrasenha" class="form-control form-control-lg" placeholder="Contraseña"/>
                                </div>
                                <button data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script>
        window.onload = function() {
            const urlParams = new URLSearchParams(window.location.search);
            const error = urlParams.get('error');

            if (error) {
                const errores = decodeURIComponent(error).split(';');
                errores.forEach((error) => {
                    toastr.error(error);
                });
            }
        };
    </script>
</body>
</html>
